datasets/IMAGE_DATASET_FOR_COLORTHIEF
datasets/processed_palettenet_data_sample
datasets/raw_recolor_data_sample
datasets/sample
**/test_results

**/output

# python compiled files
**/*.pyc

# large and unnecessary files
**/*ckpts*
**/wandb
**/*.pt

/deployments/frontend/node_modules
/deployments/inference/__pycache__

*.DS_Store

**/*.env